*.user
ghost++/ghost.sdf
ghost++/ghost.suo
ghost++/Release MySQL/
ghost++/bncsutil/vc8_build/Release MySQL/
ghost++/ghost/Release MySQL/
ghost++/update_dota_elo/Release/
ghost++/update_stats/Release/
ghost++/update_w3mmd_elo/Release/
*.sdf
*.opensdf
*.suo
ghost++/nbproject/configurations.xml
ghost++/nbproject/private/CodeAssistancePathMapper.properties
ghost++/nbproject/private/Default-build.log
ghost++/nbproject/private/Default.properties
ghost++/nbproject/private/configurations.xml
ghost++/nbproject/private/launcher.properties
ghost++/nbproject/private/private.xml
ghost++/nbproject/project.xml
openstats/img/flags/Thumbs.db
